<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.cstv.wspscm.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.cstv.wspscm.Perspective"
            id="cn.cstv.wspscm.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.cstv.wspscm.editor.PSCMonitorDiagramEditor"
            contributorClass="cn.cstv.wspscm.views.DiagramActionBarContributor"
            default="true"
            filenames="*.psc,*tpsc"
            icon="icons/psc-monitor.gif"
            id="cn.cstv.wspscm.editor.PSCMonitorDiagramEditor"
            name="PSC-Monitor Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="cn.cstv.wspscm.views.ConsoleFactory"
            label="cn.cstv.wspscm.views.ConsoleFactory">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="cn.cstv.wspscm.views.GameStructureView"
            icon="icons/automa.gif"
            id="cn.cstv.wspscm.views.GameStructureView"
            name="GameStructure"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="cn.cstv.wspscm.views.MessageView"
            icon="icons/message.gif"
            id="cn.cstv.wspscm.views.MessageView"
            name="Log"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="cn.cstv.wspscm.views.BPELView"
            icon="icons/bpel.gif"
            id="cn.cstv.wspscm.views.BPELView"
            name="BPEL"
            restorable="true">
      </view>
      <view
            class="cn.cstv.wspscm.views.NavigatorView"
            icon="icons/nav.gif"
            id="cn.cstv.wspscm.views.NavigatorView"
            name="Navigator"
            restorable="true">
      </view>
      <view
            class="cn.cstv.wspscm.views.JFreeChartView"
            icon="icons/showgridlines.gif"
            id="cn.cstv.wspscm.views.JFreeChartView"
            name="Chart"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cn.cstv.wspscm"
            name="WS-PSC Monitor Wizards">
      </category>
      <wizard
            category="cn.cstv.wspscm"
            class="cn.cstv.wspscm.wizards.PSCMonitorNewWizard"
            descriptionImage="icons/file.gif"
            finalPerspective="cn.cstv.wspscm.perspective"
            hasPages="true"
            icon="icons/t116.bmp"
            id="cn.cstv.wspscm.wizards.PSCMonitorNewWizard"
            name="WS-PSC Mointor file">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="cn.cstv.wspscm.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="viewMenu"
               label="View(&amp;V)"
               path="IWorkbenchActionConstants.WINDOW_EXT">
            <separator
                  name="viewGroup">
            </separator>
         </menu>
         <action
               class="cn.cstv.wspscm.actions.OpenJFreeChartViewAction"
               disabledIcon="icons/logFile.gif"
               icon="icons/showgridlines.gif"
               id="cn.cstv.wspscm.OpenJFreeChartViewAction"
               label="&amp;Chart"
               menubarPath="viewMenu/viewGroup"
               style="push"
               tooltip="Curve Chart View">
         </action>
         <action
               class="cn.cstv.wspscm.actions.OpenConsoleViewAction"
               disabledIcon="icons/logFile.gif"
               icon="icons/console_view.gif"
               id="cn.cstv.wspscm.OpenConsoleViewAction"
               label="&amp;Console"
               menubarPath="viewMenu/viewGroup"
               style="push"
               tooltip="Console View">
         </action>
         <action
               class="cn.cstv.wspscm.actions.OpenLogViewAction"
               disabledIcon="icons/logFile.gif"
               icon="icons/message.gif"
               id="cn.cstv.wspscm.OpenLogViewAction"
               label="&amp;Log"
               menubarPath="viewMenu/viewGroup"
               style="push"
               tooltip="Message Log View">
         </action>
         <action
               class="cn.cstv.wspscm.actions.OpenBPELViewAction"
               disabledIcon="icons/logFile.gif"
               icon="icons/bpel.gif"
               id="cn.cstv.wspscm.OpenBPELViewAction"
               label="&amp;BPEL"
               menubarPath="viewMenu/viewGroup"
               style="push"
               tooltip="BPEL View">
         </action>
         <action
               class="cn.cstv.wspscm.actions.OpenAutomataViewAction"
               disabledIcon="icons/logFile.gif"
               icon="icons/automa.gif"
               id="cn.cstv.wspscm.actions.OpenAutomataViewAction"
               label="&amp;Automata"
               menubarPath="viewMenu/viewGroup"
               style="push"
               tooltip="Automata View">
         </action>
         <action
               class="cn.cstv.wspscm.actions.OpenPropertyViewAction"
               disabledIcon="icons/logFile.gif"
               icon="icons/properties(1).gif"
               id="cn.cstv.wspscm.OpenPropertyViewAction"
               label="&amp;Properties"
               menubarPath="viewMenu/viewGroup"
               style="push"
               tooltip="Property View">
         </action>
         <action
               class="cn.cstv.wspscm.actions.OpenNavigatorViewAction"
               disabledIcon="icons/logFile.gif"
               icon="icons/nav.gif"
               id="cn.cstv.wspscm.OpenNavigatorViewAction"
               label="&amp;Navigator"
               menubarPath="viewMenu/viewGroup"
               style="push"
               tooltip="Navigator View">
         </action>
      </actionSet>
   </extension>
   <extension
         id="PSCMonitorProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="cn.cstv.wspscm.application"
            name="WS-PSC Monitor">
         <property
               name="appName"
               value="WS-PSC Monitor">
         </property>
         <property
               name="windowImages"
               value="icons/psc-monitor.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,260,515,15">
         </property>
         <property
               name="startupProgressRect"
               value="5,280,515,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="WS-PSC Monitor&#x0A;&#x0A;Version: 1.1&#x0A;Build time: 20100801&#x0A;&#x0A;(c) Copyright Pengcheng Zhang &amp; Zhiyong Su 2007, 2010. All rights reserved.&#x0A;	E-mail: pchzhang81@gmail.com, zhiyongsu@gmail.com">
         </property>
      </product>
   </extension>
</plugin>
